@import "tailwindcss";

@theme {
  --font-playpen: Ubuntu Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-display: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  @apply font-playpen flex min-h-screen flex-col text-slate-800;
}

.theme-bg-gradient {
  background-image: linear-gradient(120deg, #86e293 0%, #86e6c6 100%);
}

a.theme-hyperlink {
  @apply text-emerald-600 hover:text-emerald-700;
}

section {
  @apply p-4 text-lg sm:px-8;
}

h1 {
  @apply text-4xl font-bold;
  font-family: var(--font-display);
}

h2 {
  @apply text-3xl font-bold;
  font-family: var(--font-display);
}

h3 {
  @apply text-2xl font-bold;
  font-family: var(--font-display);
}

h4 {
  @apply text-xl font-bold;
  font-family: var(--font-display);
}

h5 {
  @apply text-lg font-bold;
  font-family: var(--font-display);
}

h6 {
  @apply text-base font-bold;
  font-family: var(--font-display);
}

h1,
h2,
h3,
p,
ul {
  @apply mb-4;
}

h4,
h5,
h6,
li {
  @apply mb-2;
}
